<div class="hero-content">
    <div class="left-side">
        <div class="title" style="--stacks: 3;">
            <h1 style="--index: 0;">DiGiTAL<br>ACCELERATION</h1>
            <h1 style="--index: 1;">DiGiTAL<br>ACCELERATION</h1>
            <h1 style="--index: 2;">DiGiTAL<br>ACCELERATION</h1>
        </div>
        <div>
            <button class="first-btn" mat-raised-button>{{ "pages.home.btns.become_client" | translate }}</button>
            <button class="second-btn" mat-raised-button>{{ "pages.home.btns.sponsor_us" | translate }}</button>
            <button class="first-btn" mat-raised-button>{{ "pages.home.btns.join_us" | translate }}</button>
        </div>
    </div>
</div>

<!--
    [ngStyle]="{
    'background-image': 'url(../../../assets/media/home/hero/background.svg)',
    'background-size': 'contain',
    'background-position': 'bottom',
    'background-repeat': 'no-repeat'
    }"
-->