<div class="hero-content">
    <div class="left-side">
        <h1>DiGiTAL<br>ACCELERATION</h1>
        <button class="first-btn" mat-raised-button>Devenir Client</button>
        <button class="second-btn" mat-raised-button>Sponsoriser-nous</button>
        <button class="first-btn" mat-raised-button>Rejoignez-nous</button>
    </div>
    <div class="right-side">
        <img class="design-illustration" src="../../../../assets/media/home/hero/design-illustration.svg" /><br>
        <img class="security-illustration" src="../../../../assets/media/home/hero/security-illustration.svg" />
        <img class="digital-illustration" src="../../../../assets/media/home/hero/digital-illustration.svg" />
    </div>
</div>