@import "../../app.component.scss";
.home{
    .info{
        display: flex;
        flex-wrap: wrap;
        background: $light-grey;
    }
    .info > * {
        flex-grow: 1;
        flex-basis: 50%;
    }
    h2{
        background-color: $light-grey;
        color: $dark-blue;
        padding-top: 5%;
        padding-bottom: 2%;
        padding-left: 10%;
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .mini-services{
        background: $light-grey;
        display: flex;
        flex-wrap: wrap;
    }
    .mini-services > *{
        flex-grow: 1;
        flex-basis: 33%;
    }
}