<div class="about-us">
    <div class="values-section">
        <h2 class="title">{{ "pages.about-us.our_values.title" | translate }}</h2>
        <p class="description">
            {{ "pages.about-us.our_values.description" | translate }}
        </p>
        <div class="values-items">
            <div *ngFor="let item of valuesData">
                <app-our-values [title]="item.title" [description]="item.description"
                    [imagePath]="item.imagePath"></app-our-values>
            </div>
        </div>
    </div>
</div>