<section>
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides" >
                <li class="carousel__slide" *ngFor="let item of tab">
                    <figure>
                        <div>
                            <img src={{item.path}} alt="">
                        </div>
                        <figcaption>
                            {{ item.caption }}
                        </figcaption>
                    </figure>
                </li>
            </ul>    
            <ul class="carousel__thumbnails">
                <li *ngFor="let item of tab">
                    <label for={{item.id}}><img src={{item.path}} alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section>